h1{
    font-family: Helvetica;
    font-weight: bold;
    background-color: rgb(97, 160, 196);
    color: rgb(253, 253, 253);
    border: 1px solid black;
    padding: 40px 40px 40px 40px; 
    margin: 0px;
    text-align: right;
}

h3{
    font-family: Helvetica;
    color: rgb(97, 160, 196);
    border: 0px solid black;
    padding: 0px 0px 0px 0px; 
    margin: 0px;
}

hr{
    height: 2px;
    border: 3px solid rgb(97, 160, 196); 
}


