
h1{
    font-weight: bold;
    background-color: rgb(97, 160, 196);
    color: rgb(253, 253, 253);
    border: 3px solid rgb(0, 0, 0);
    padding: 40px 40px 40px 40px; 
    margin: 0px;
    text-align: right;
    font-family: 'Rubik';
}

h3{
    color: rgb(97, 160, 196);
    padding: 0px 0px 0px 0px; 
    margin: 0px;
    font-family: 'Rubik';
    font-weight: bold;
}

h5{
    color: rgb(0, 0, 0);
    padding: 0px 0px 0px 0px; 
    margin: 0px;
    font-family: 'Rubik';
    font-weight: bolder;
}

hr{
    height: 2px;
    border: 3px solid rgb(97, 160, 196); 
}

td{
    vertical-align: top;
    text-align: left;
    padding: 0px 10px 0px 10px; 
    margin: 0px;
    border: 3px solid #61a0c4
}

p{
    font-family: 'Rubik';
    text-align: justify;
    padding: 0px 0px 0px 0px; 
    margin: 0px;
}

.subtitulo1{
    font-weight: bolder;
}



label{
    font-family: 'Rubik';
    font-size: smaller;
    text-align: justify;
    padding: 0px 0px 0px 0px; 
    margin: 0px; 
}

form{
    margin: 0 auto;
    width: 150px;
    text-align: center;
    background-color: #c5c1c1;
    padding: 0px 0px 0px 0px; 
}

input{
    font-size: x-small;
    padding: 0px 0px 0px 0px; 
    
}

