
h1{
    font-weight: bold;
    background-color: rgb(97, 160, 196);
    color: rgb(253, 253, 253);
    border: 3px solid rgb(0, 0, 0);
    padding: 40px 40px 40px 40px; 
    margin: 0px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

h3{
    color: rgb(97, 160, 196);
    padding: 0px 0px 0px 0px; 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

hr{
    height: 2px;
    border: 3px solid rgb(97, 160, 196); 
}

td{
    vertical-align: top;
    text-align: left;
    padding: 0px 10px 0px 10px; 
    margin: 0px;
    border: 3px solid rgb(97, 160, 196)
}

p{
    font-family: 'Roboto';
    text-align: justify;
    padding: 0px 0px 0px 0px; 
    margin: 0px;
}

.subtitulo1{
    font-weight: bolder;
}